{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {"node": 16}
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ]
}